<%
  uri = URI(ENV['MYSQL_URL'] || 'mysql://root:password@127.0.0.1:3306')
  uri.scheme = 'mysql2'
%>

development:
  <% uri.path = '/samson_development' %>
  url: <%= uri %>

test:
  <% uri.path = '/samson_test' %>
  url: <%= uri %>

production:
  <% uri.path = '/samson_production' %>
  url: <%= uri %>
