<div class="btn-group">
  <button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
    Deploy to <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% stages.each do |stage| %>
    <% if deployer_for_stage?(stage) %>
        <li>
          <%= link_to_deploy_stage(stage, release) %>
        </li>
    <% end %>
    <% end %>
  </ul>
</div>
